<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Chinese Offline STT Demo</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    <!-- Custom Fonts -->
    <link href="webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>

    <!-- Theme CSS -->
    <link th:href="@{/css/grayscale.css}"
          href="../../css/grayscale.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light">Offline</span> STT
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#try">Try</a>
                </li>
                <!--<li>-->
                <!--<a class="page-scroll" href="#download">Download</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="page-scroll" href="#contact">Contact</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Offline STT</h1>
                    <p class="intro-text">Demo Offline Speech to Text
                        <br/>It supports pcm, alaw, ulaw file types.
                        <br/>Let's try</p>
                    <a href="#try" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Try Section -->
<section id="try" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Try Offline STT Grayscale</h2>
            <p>Please upload a supported file such as;</p>

            <p id="zh" class="supportedMedias"><a href="#try">pcm8k8bit</a>, <a href="#try">pcm8k16bit</a>,
                <br/><a href="#try">pcm11k8bit</a>, <a href="#try">pcm11k16bit</a>,
                <br/><a href="#try">pcm16k8bit</a>, <a href="#try">pcm16k16bit</a>,
                <br/><a href="#try">alaw8k8bit</a>, <a href="#try">ulaw8k8bit</a>
            </p>

            <p id="en" class="supportedMedias hidden">
                RIFF (little-endian) data, WAVE audio, Microsoft PCM,
                <br/>
                <a href="#try">16 bit</a>, mono <a href="#try">16000 Hz</a> or <a href="#try">8000 Hz</a>
            </p>

            <form id="form" enctype="multipart/form-data" method="post" action="/upload">
                <div class="input-group">
                    <input type="file" class="form-control" id="uploadFile" name="uploadFile"
                           accept="audio/*;capture=microphone" />

                    <!--clear button-->
                    <span class="input-group-btn">
                        <button id="clearAll" class="btn btn-default" type="button" onclick="clear_all()">Clear</button>
                    </span>

                    <!--language button group-->
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <span id="lang">Chinese</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#try" id="chinese" onclick="setLanguage(this)" >Chinese</a></li>
                            <li><a href="#try" id="english" onclick="setLanguage(this)" >English</a></li>
                        </ul>
                    </div>

                    <!--analyse button-->
                    <span class="input-group-btn">
                        <button id="analyseBtn" class="btn btn-default" type="button" onclick="upload(uploadFile.value)">Analyse</button>
                    </span>
                </div><!-- /input-group -->
            </form>

            <!--<p>Result:<br/>-->
            <!--<textarea class="form-control" rows="3"></textarea>-->
            <!--</p>-->
        </div>
    </div>
    <div class="loading row hidden">
        <p>Loading... </p>
    </div>
    <div class="result row hidden">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Result:<br/>
                <span id="resultText" class="form-control" style="text-align:left;"></span>
            </p>
        </div>
    </div>

    <br/><br/><br/><br/><br/><br/><br/>
</section>

<!-- Download Section -->
<!--<section id="download" class="content-section text-center">-->
<!--<div class="download-section">-->
<!--<div class="container">-->
<!--<div class="col-lg-8 col-lg-offset-2">-->
<!--<h2>Download Grayscale</h2>-->
<!--<p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>-->
<!--<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!-- Contact Section -->
<!--<section id="contact" class="container content-section text-center">-->
<!--<div class="row">-->
<!--<div class="col-lg-8 col-lg-offset-2">-->
<!--<h2>Contact Start Bootstrap</h2>-->
<!--<p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>-->
<!--<p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>-->
<!--</p>-->
<!--<ul class="list-inline banner-social-buttons">-->
<!--<li>-->
<!--<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!-- Map Section -->
<!--<div id="map"></div>-->

<!-- Footer -->
<footer id="footer" style="padding: 0;">
    <div class="container text-center">
        <p>Copyright &copy; Gunay Gultekin 2017</p>
    </div>
</footer>

<!-- jQuery -->
<script src="webjars/jquery/3.1.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

<!-- Theme JavaScript -->
<script th:src="@{/js/grayscale.js}"></script>

<script th:src="@{/js/main.js}"></script>
</body>

</html>
